.homePageHeader {
  position: relative;
  background-color: #ff9999;
  padding: 8px;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

.containerDiv {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  overflow: hidden;
  width: 100%;
  height: 269px;
}

.gridListStyle {
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow-x: scroll;
  transform: translateZ(0);
}

.cardSearchStyle {
  position: relative;
  width: 24%;
}

.releaseMovieGridTile:hover {
  cursor: pointer;
}

.cardFieldStyle {
  min-width: 240px;
  max-width: 240px;
}
